:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/abstract-futuristic-background-with-3d-design.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}

.button{
    width: 60%;
    height: 25%;
    align-self: center;
    border: 2px solid white;
    cursor: pointer;
    font-size:1.2vw;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    margin-left: 20%;
}
h3{
    align-self: center;
}
.button:hover{
    border: 2px solid red;
    transition: 1s;
}
.headerText{
   
    width: 90%;
    height: 25%;
    position: relative;
    font-size:1.5vw;
    text-align: right;
    align-content: center;
   color: white;
  
   display: flex;
   margin-left: 6%;
  

    
}
h1{
       
    width: 05%;
    height: 60%;
    text-align: left;
    font-size:1.5vw;
    text-align: center;
    align-content: center;
    color: red;
    margin-left: 1%;
    
  
}
h2{
     
    width: 100%;
    height: 60%;
    text-align: left;
    font-size:1.5vw;
    text-align: center;
    align-content: center;
    color: white;
  
}
.set{
    width: 25%;
    height: 20%;
    font-weight: bolder;
    align-self: center;
    display: block;
     
}
.sobre{
display: flex;
justify-content: center;



}

.sobreTitle{
    height: 10vh;
    width: 100%;
    align-self: center;
    
    display: flex;
    justify-content: center;  

}
.sobreall{
    width: 100vw;
    display: flex;
    align-self: center;
    justify-content: center;
}
h3{
    font-size: 30px;
    border-bottom:solid blue ;
    font-weight: bolder;
    align-self: center;
}
.posicionarConteudo{
    margin-top: 40px;
    height: 380px;
    width: 40%;
    border: 2px solid black;
    display:inline-block;
    position: relative;
    justify-content: center;
    align-self: center;
   
}
.conteudo{
    width: 50%;
    float: left;
    height: 50%;
    display:inline-block;
    justify-content: center;
    box-shadow: 0 20px 20px 0 rgb(231 235 240), 0 0 0 1px #e6ecf8;
}
.conteudoimage{
    background-color:rgb(221, 236, 255);
    height: 30%;
    margin: 3%;
    padding: 08px;
    clip-path: circle();
    float: left;
   
   
}
h5{
    width: 100%;
    height: 60%;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    border: 2px solid red;
}

h4{
    width: 100%;
    border: 2px solid yellow;
    height: 40%;
}

h6{
    width: 100%;
    height: 13%;
    margin-top: 10px;
 
    text-align: center;
    font-size: 5px;
    align-self: center;
}
.perfil{
    width: 675px;
    
    
    display: flex;
    justify-content: center;
}
.perfilcontent{

width: 60%;
height: 80%;
border:2px solid black;
display: inline-block;
align-self: center;
}
.perfilimg{
    width: 80%;
  
    clip-path: circle();
    margin-left: 10%;
}
.mascaratext{
    border:2px solid black;
    width: 100%;
    height: 38%;
}

.conhecimentos{
    width: 100vw;
    display: flex;
    align-self: center;
    justify-content: center;
    
    
}
.position{
    width: 1350px;
    display: inline-block;
   
}
.conhecimentoBox{
    width: 15%;
    height: 200px;
    margin: 5%; 
    background-color: rgb(221, 236, 255);
    float: left;
    display: flex;
    justify-content: center;
    box-shadow: 0 20px 20px 0 rgb(231, 235, 240), 0 0 0 1px #e6ecf8;
   
}
.conhecimentosIMG{
    width: 60%;
    height: 60%;
    align-self: center;
}
.projetos{
    width: 100vw;
    justify-content: center;
    display: flex;
    
}
.projetosPosition{
    display: flex;
    justify-content: center;
    
}
.projetosBox{
    width: 40%;
    height: 300px;
    float: left;
    margin: 5%;
    background-color: black;
    display: flex;
    cursor: pointer;
}
.projetosBox :hover{
    transition: 1.2s;
    transform: scale(1.1)
}
.rodape{
width: 100vw;
height: 300px;
background-color: black;
}
.projetosImg{
width: 80%;
align-self: center;
margin: 10%;
}