:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/abstract-futuristic-background-with-3d-design.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}

.button{
    width: 60%;
    height: 20%;
    align-self: center;
    border: 2px solid white;
    cursor: pointer;
    font-size:2.5vw;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    margin-left: 20%;
}
.headerText{
    background-color: red;
    width: 100%;
    height: 40%;
    position: relative;
    
    
    
}
.set{
    width: 25%;
    height: 40%;
    background-color: black;
    align-self: center;
    display: block;
    
  
}
